.love {
   min-width: 22px;
   min-height: 22px;
   background: url("../../../images/icon-love-22.png");
   background-repeat: no-repeat;
}
.unlove {
   min-width: 22px;
   min-height: 22px;
   background: url("../../../images/icon-unlove-22.png");
   background-repeat: no-repeat;
}